---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageHeader from '../../components/PageHeader.astro'

const { page_title='Guides' } = Astro.props
---

<BaseLayout page_title={page_title}>

    <PageHeader page_title={page_title}/>

    <div class="rte">
        <ul>
            <li><a href="card/">Card</a></li>
            <li><a href="typography/">Typography</a></li>
            <li><a href="video/">Video</a></li>
        </ul>
    </div>

</BaseLayout>