/* Card Grid */
.card-grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--columns), 1fr);
    margin: 0 auto var(--global-bottom-space);
    max-width: var(--max-width-content);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .card-grid {
        --columns: 2;
    }
}

@media screen and(max-width: 1024px) {
    .card-grid {
        --gap: 30px 20px;
    }
}

@media screen and (min-width: 1025px) {
    .card-grid {
        --columns: 3;
        --gap: 30px;
    }
}

/* Card List */
.card-list {
    max-width: var(--max-width-content);

    li {
        margin-inline-start: 0;
        padding-inline-start: 0;
    }
}

@media screen and (max-width: 767px) {
    .card-list {
        margin: 0 0 var(--global-bottom-space);
    }
}

@media screen and (min-width: 768px) {
    .card-list {
        margin: 0 auto var(--global-bottom-space);
    }
}