---
import BaseLayout from '@layouts/BaseLayout.astro'
import PageHeader from '@components/PageHeader.astro'

const { pageTitle = 'Typography' } = Astro.props
---

<BaseLayout {pageTitle}>

    <PageHeader {pageTitle} />

    <div class="text-block">
        <h1>h1: The Wonder of Webfonts</h1>
        <p class="text-1">.text-1: The Wonder of Webfonts</p>

        <hr />

        <h2>h2: The Wonder of Webfonts</h2>
        <p class="text-2">.text-2: The Wonder of Webfonts</p>

        <hr />

        <h3>h3: The Wonder of Webfonts</h3>
        <p class="text-3">.text-3: The Wonder of Webfonts</p>

        <hr />

        <h4>h4: The Wonder of Webfonts</h4>
        <p class="text-4">.text-4: The Wonder of Webfonts</p>

        <hr />

        <h5>h5: The Wonder of Webfonts</h5>
        <p class="text-5">.text-5: The Wonder of Webfonts</p>

        <hr />

        <h6>h6: The Wonder of Webfonts</h6>
        <p class="text-6">.text-6: The Wonder of Webfonts</p>

        <hr />

        <p>Paragraph <a href="#">Lorem ipsum dolor</a> sit amet, <em>consectetur adipiscing elit</em>. Etiam placerat
            eleifend quam. Sed at luctus quam. <b>Integer turpis</b> leo, dictum sit amet posuere sit amet, dictum quis
            eros. Fusce vitae nisl elementum, tempus mauris nec, ultricies lorem. In gravida hendrerit mollis. Sed nec
            lorem id dui sollicitudin commodo. Nunc orci sem, <strong>dictum eget volutpat</strong> vitae, hendrerit
            mattis metus. Sed hendrerit sit amet mauris at blandit. Proin mattis ligula neque, ac tincidunt magna
            ultrices sit amet. Nunc id lectus velit. Nunc aliquam viverra odio, in ornare sem feugiat et.</p>

        <hr />

        <ul>
            <li>Unordered list item 1</li>
            <li>Unordered list item 2</li>
            <li>Unordered list item 3</li>
            <li>Unordered list item 4</li>
        </ul>

        <hr />

        <ol>
            <li>Ordered list item 1</li>
            <li>Ordered list item 2</li>
            <li>Ordered list item 3</li>
            <li>Ordered list item 4</li>
            <li>Ordered list item 5</li>
            <li>Ordered list item 6</li>
            <li>Ordered list item 7</li>
            <li>Ordered list item 8</li>
            <li>Ordered list item 9</li>
            <li>Ordered list item 10</li>
        </ol>

        <hr />

        <blockquote>
            <p>Blockquote: Hendrerit duis bibendum cras class quis vitae malesuada ad imperdiet hac, montes nunc luctus
                dignissim semper ultricies iaculis faucibus libero commodo, aptent adipiscing vehicula turpis magnis
                dapibus rhoncus aenean tortor.</p>
            <footer>— <a href="https://astro.build">Astro</a></footer>
        </blockquote>

        <hr />

        <figcaption>Figcaption: In gravida hendrerit mollis. Sed nec lorem id dui sollicitudin commodo.</figcaption>
    </div>
</BaseLayout>