---
import DocumentHead from '@components/DocumentHead.astro';
import GlobalHeader from '@components/GlobalHeader.astro'
import GlobalFooter from '@components/GlobalFooter.astro'

const { pageTitle, ogTitle, ogDescription, ogImage } = Astro.props
---

<html lang="en">
    <head>
		<DocumentHead pageTitle={pageTitle} ogTitle={ogTitle} ogDescription={ogDescription} ogImage={ogImage} />
	</head>
    <body>
        <GlobalHeader/>
        
        <main id="content" data-animation-fadein>
            <slot />
        </main>

        <GlobalFooter/>
    </body>
</html>